@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* Light Mode: Very Light Blue */
    --foreground: 222.2 84% 4.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 206 83% 53%; /* Muted Blue */
    --primary-foreground: 210 40% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --accent: 151 46% 74%; /* Pale Green */
    --accent-foreground: 222.2 47.4% 11.2%;

    --success: 142 76% 36%;
    --success-foreground: 210 40% 98%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    
    --radius: 12px;
  }
 
  .dark {
    --background: 224 71% 4%; /* #010816 */
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 28% 17%;
    --muted-foreground: 217 9% 61%;
    
    --accent: 151 46% 74%; /* Pale Green */
    --accent-foreground: 222.2 47.4% 11.2%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --success: 145 63% 42%;
    --success-foreground: 0 0% 100%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition: background-color 0.3s, color 0.3s;
  }
  .light body {
    background: radial-gradient(circle at top, hsl(210, 40%, 98%), hsl(210, 40%, 90%));
  }
  .dark body {
    background-color: hsl(var(--background));
    background-image: radial-gradient(circle at 1px 1px, hsl(218 47% 11%) 1px, transparent 0);
    background-size: 2rem 2rem;
  }
}
